*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header style start */
.bg_header{
  background-image: url(images/hero-bg.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
.navbar-brand,.my_font{
  font-family: 'La Belle Aurore', cursive;
  font-size: 3rem;
}
.my_header_btn:hover{
background-color: #9ACD32;
color: #fff;
transition: all .5s;
}
.header_second {
    margin-top: 6%;
}
/* header style end */
/* first card section style start */
.my_first_card:hover img{
  transform: scale(1.1);
  transition:all .5s;
}

/* */

}
@media only screen and (max-width: 991px) {
  .card{
  margin-bottom: 20px;
}
.card_filter {
    border-bottom: 5px solid;
}
}
/* first card section style end */
/* client style start */
.c_img{
  width: 200px;
  height: 200px;
}
/* client style end */
/* contact style start */
.btn_rad {
    border-radius: 12px;
}
.contact_form{
  margin-bottom: 50px;
}
/* contact style end */
